
h1{
	text-align: center;
}

ul{
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    overflow: hidden;
}

   li{
       float: right;
       
}

   li a{
    text-align: center;
    display: list-item;
    text-decoration: none;
    padding: 10px 15px ;
    color: rgba(128,131,142,1.00);
    
}

   li a:hover{
    background-color:#4F4E4B;
    
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}